*.bak
*.class
*.class
*.iml
*.jar
*.jar
*.log
*.orig
*.tmp
*~
.*.swo
.*.swp
.DS_Store
.eastwood
.eastwood
.hg/
.hgignore
.idea/
.nrepl-port
.rebl/
.repl
/.lein-*
/.lein-*
/.nrepl-port
/checkouts
/classes
/logs/
/target
build/
coverage/
out/
pom.xml
pom.xml.asc
profiles.clj
repl-port
